<div class="container">  
    <hr />
    <div *ngFor="let employee of employees">
      <div class="row">
        <div class="col-md-4">
          <img src="http://marmita.idsgeo.com/img/{{employee.img}}" class="img-fluid" />
        </div>
        <div class="col-md-8">
          <div class="row">
            <h4>Name: {{ employee.first_name }}</h4>
          </div>
          <div class="row">
            <h5>Surname: {{ employee.surname }}</h5>
          </div>
          <div class="row">
            <p>Position: {{ employee.position }}</p>
          </div>
          <div class="row">
            <p>Mobile Phone: {{ employee.mobile_phone }}</p>
          </div>
          <div class="row">
            <p>Email: {{ employee.email }}</p>
          </div>
          <div class="row">
            <p>Date of birth: {{ employee.date_birth }}</p>
          </div>
          <div class="row">
            <button class="btn btn-space btn-outline-success" (click)="editEmployee(employee)" >Edit</button>
            <button class="btn btn-space btn btn-danger" (click)="deleteEmployee(employee)" >Delete</button>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <br />
  </div>