<div class="container">
  <br /> 
  <h2>Employee Autocomplete</h2>
  <br /> 
  <br />
  <form>
    <div class="form-group">
        <label for="formGroupExampleInput">Name</label>
        <input type="text" (keyup)="onSearchKey($event.target.value)" 
        [(ngModel)]="name" name="name" class="form-control" id="formGroupExampleInput" placeholder="Name">
    </div>
    <div class="form-group">
      <ul class="list-group" *ngIf="results">
        <li class="list-group-item" *ngFor="let result of results | slice:0:9" >                    
          <div (click)="setName(result)" >{{ result.name }}</div>
        </li>
      </ul>
    </div>
  </form>   
  <br /> 
  <br />
  <button class="btn btn-space btn-outline-success" (click)="goToEmployee()" >Employee List</button><br /><br />
  <button class="btn btn-space btn-outline-success" (click)="goToAdd()" >Add Employee</button><br />
</div>