<div class="">
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <a class="navbar-brand" routerLink="">
        <img src="/assets/logo.jpg" width="50px" high="50px" />
      </a>      
    </div>
  </nav>
  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/employee">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/create">Add Employee</a>
        </li>
      </ul>
    </div>
  </div>
</div>

